{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Avaliação semestral{% endblock %}

{% block page_content %}
{{ wtf.quick_form(form) }}
<h2>Relação de cursos cadastrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
            {% for curso in cursos %}
        <tr>
            <td><b>{{ curso.nome }}</b></td>
            <td>{{ curso.desc }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

